/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto-v50-latin-regular.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto-v50-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;  
}


/* == CSS RESET == */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements */
ul, ol {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


:root {
  /* == COLOR PALLETTE == */
  /* Primary Color */
  --clr-red: hsl(4, 100%, 67%);
  --clr-orangered: hsl(28, 100%, 45%);

  /* Neutral Colors */
  --clr-grey: hsl(0, 0%,58%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-blue-700: hsl(235, 18%, 26%);
  --clr-blue-800: hsl(234, 29%, 20%);

  /* == TYPOGRAPHY == */
  /* Font Family */
  --ff-body: "Roboto", sans-serif;

  /* Font Size */
  --fs-body: 1rem;

  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background:  var(--clr-white);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-blue-700);
  line-height: 1.5;
}

.main__content {
  width: 100%;
  height: auto;
  display: flex;
}

picture {
  display: block;
  width: 100%;
  height: auto;
}

picture .main__illustration {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.main__signup--block {
  display: none;
}

.success-block {
  background: var(--clr-white);
}

.success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
  padding: var(--space-md);
}

.success-message img {
  width: 4rem;
  height: 4rem;
  margin-block-end: var(--space-lg);
}

.success-message h1 {
  font-size: clamp(2rem, 2vw, 2.5rem);
  margin-block-end: var(--space-lg);

}

.success-message p {
  margin-block-end: 10rem;
  color: var(--clr-blue-700);
  font-weight: var(--fw-regular);
}

.success-message p a {
  text-decoration: none;
}

.success-message button {
  display: block;
  all: unset;
  background: var(--clr-blue-800);
  color: var(--clr-white);
  padding: clamp(0.5rem, 1vw, 1rem) clamp(3.2rem, 2.5vw, 6rem);
  border-radius: var(--space-xs);
  text-align: center;
  cursor: pointer;
}


@media screen and (min-width:48rem) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .main__signup--block {
    display: none;
  }
}


@media screen and (min-width:64rem) {
  body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }

  
  

  .main__signup--block {
    display: none;
  }

  .success-block {
    width: 100%;
    height: 100vh;
    background: var(--clr-blue-800);
    display: grid;
    place-items: center;
  }

  .success-message {
    display: block;
    width: 30%;
    background: var(--clr-white);
    border-radius: 0.6rem;
    padding: var(--space-lg);
  }

  .success-message img {
    width: 3rem;
    height: 3rem;
    margin-block-end: var(--space-md);
  }

  .success-message h1 {
    margin-block-end: 0.5rem;
    line-height: 1.1;
  }

  .success-message p {
    font-size: 0.8rem;
    margin-block-end: 1rem;
  }

  .success-message button {
    padding: 0.3rem 5rem;
  }

  .success-message button:hover {
    background: linear-gradient(to right, var(--clr-red), var(--clr-orangered));
  
}
}




