/* == FONT FACES == */

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto-v50-latin-regular.woff2') format('woff2'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/roboto-v50-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;  
}

/* == CSS RESET == */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements */
ul, ol {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


:root {
  /* == COLOR PALLETTE == */
  /* Primary Color */
  --clr-red: hsl(4, 100%, 67%);
  --clr-orangered: hsl(28, 100%, 45%);

  /* Neutral Colors */
  --clr-grey: hsl(0, 0%,58%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-blue-700: hsl(235, 18%, 26%);
  --clr-blue-800: hsl(234, 29%, 20%);

  /* == TYPOGRAPHY == */
  /* Font Family */
  --ff-body: "Roboto", sans-serif;

  /* Font Size */
  --fs-body: 1rem;

  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xlg: 2.5rem;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background:  var(--clr-white);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-blue-700);
  line-height: 1.5;
}

.main__newsletter--signup {
  width: 100%;
  height: auto;
}

.image--container {
  height: 100%;
}

.image--container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main__signup--copy {
  padding: 2rem 1.5rem;
}

.main__signup--heading {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: var(--fw-bold);
  margin-block-end: var(--space-md);
}

.main__signup--text {
  font-weight: var(--fw-regular);
  margin-block-end: var(--space-md);
}

.main__signup--copy ul{
  padding-inline-start: 0;
  margin-block-end: var(--space-lg);
  line-height: 1.4;
}

.main__signup--copy ul li {
  margin-block-end: var(--space-sm);
  padding-inline-start: var(--space-lg);
  position: relative;
}

.main__signup--copy ul li::before {
  content: "";
  position: absolute;
  left: 0rem;
  top: -0.1rem;
  width: 1.4rem;
  height: 1.4rem;
  padding-inline-start: 0.2rem;
  background-image: url(assets/icons/icon-list.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.email-error-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-block-end: 0.5rem;
}

.email--error {
  color: var(--clr-red);
}

.email--error:empty {
  display: none;
}

.field-button-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.field-button-container input, button  {
  all: unset;
  border-radius: 0.5rem;
  cursor: pointer;
}

.field-button-container input {
  border: 1px solid var(--clr-grey);
  padding-block: 0.8rem;
  padding-inline-start: 1.5rem;
}

input.invalid {
  border: 1px solid var(--clr-red);
  background-color:hsl(0, 60%, 92%);
  color: var(--clr-red);
}

.field-button-container button {
  background-color: var(--clr-blue-800);
  color: var(--clr-white);
  font-size: 0.95rem;
  font-weight: var(--fw-bold);
  padding-block: 1rem;
  text-align: center;
}

.main__success--block {
  min-height: 100svh;
  background: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.success--message {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10rem;
  padding: var(--space-md);
}

.success--message img {
  width: 4rem;
  height: 4rem;
  margin-block-end: var(--space-xlg);
}

.success--message h1 {
  font-size: clamp(2.5rem, 2.5vw, 3rem);
  margin-block-end: var(--space-lg);
}

.success--message p {
  color: var(--clr-blue-700);
  font-weight: var(--fw-regular);
}

.message--container {
  margin-block-start: 3rem;
}

.message--container, .button--container {
  width: 100%;
}

.success--message button {
  all: unset;
  height: 3em;
  width: 100%;
  box-sizing: border-box;
  background: var(--clr-blue-800);
  border-radius: var(--space-xs);
  color: var(--clr-white);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}


@media screen and (min-width:23.5rem) {
  body {
    padding: 1.5rem;
  }

  .main__signup--copy {
    padding-inline: 0;
  }
}

@media screen and (min-width:26.625rem) {
  body {
    background: var(--clr-blue-800);
  }

  .main__signup--block {
    width: clamp(22rem, 65vw, 45rem);
    background: var(--clr-white);
    padding: 1.5rem;
    border-radius: var(--space-sm);
    margin: 0 auto;
  }

  .main__signup--copy {
    padding-inline: 0;
  }

  .main__success--block {
    width: clamp(22rem, 65vw, 45rem);
    border-radius: var(--space-sm);
    margin: 0 auto;
    padding-inline: 1.5rem;
  }
}


@media screen and (min-width:55rem) {
  body {
    display: grid;
    place-items: center;
    background: var(--clr-blue-800);
    font-size: 0.8rem;
    padding: 0;
  }

  .main__newsletter--signup {
    display: contents;
  }

  .main__signup--block {
    width: 45rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--clr-white);
    border-radius: 1.2rem;
    padding: 1rem;
    gap: 1rem;
    margin: 0;
  }

  .image--container {
    order: 2;
    height: 100%;
    overflow: hidden;
  }

  .image-wrapper picture {
    display: block;
    height: 100%;
  }

  .image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .main__signup--heading {
    font-size: 2.5rem;
  }

  .main__signup--copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .main__signup--copy ul {
    margin-inline-start: -0.2rem;
    margin-block-end: 1rem;
  }

  .main__signup--copy ul li {
    margin-block-end: 0.8rem;
    margin-inline-start: -0.1rem;
  }

  .main__signup--copy ul li::before {
    top: -0.05rem;
    left: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  .email-error-container {
    font-size: 0.7rem;
  }

  .field-button-container {
    gap: 1.2rem;
  }

  .field-button-container input, .field-button-container button {
    border-radius: 0.5rem;
    padding: 0.8rem;
  }

  .field-button-container button {
    background: var(--clr-blue-800);
    font-size: 0.9rem;
    border: none;
  }

  .field-button-container button:hover {
    background: linear-gradient(to right, var(--clr-red), var(--clr-orangered));
  }

  .main__success--block {
    width: 100%;
    background: var(--clr-blue-800);
    display: grid;
    place-items: center;
  }

  .success--message {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    background: var(--clr-white);
    border-radius: 1rem;
    padding: var(--space-xlg);
  }

  .success--message img {
    width: 3rem;
    height: 3rem;
    margin-block-end: var(--space-lg);
  }

  .success--message h1 {
    font-size: 3rem;
    margin-block-end: var(--space-md);
    line-height: 1;
  }

  .success--message p {
    font-size: 0.85rem;
    margin-block-end: var(--space-md);
  }

  .message--container {
    margin-block-start: 0;
  }

  .success--message button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;  
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: var(--fw-regular);      
    line-height: 1;
    padding: 0.5rem 9rem;
    text-align: center;   
    white-space: nowrap;  
  }

  .success--message button:hover {
    background: linear-gradient(to right, var(--clr-red), var(--clr-orangered));
  }
}





